<div class="row text-center categories">
  <div class="col-xs-3 col-sm-3 pointer" routerLink="/">
    <i class="col-xs-12 col-sm-12 fa fa-home fa-3x" ></i>
    <h5 class="title">Home</h5>
  </div>
  <div class="col-xs-3 col-sm-3 pointer" routerLink="/technologies">
    <i class="col-xs-12 col-sm-12 fa fa-diamond fa-3x" ></i>
    <h5 class="title">Technologies</h5>
  </div>
  <div class="col-xs-3 col-sm-3 pointer" routerLink="/projects">
    <i class="col-xs-12 col-sm-12 fa fa-desktop fa-3x" ></i>
    <h5 class="title">Projects</h5>
  </div>
  <div class="col-xs-3 col-sm-3 pointer" routerLink="/contact">
    <i class="col-xs-12 col-sm-12 fa fa-phone fa-3x" ></i>
    <h5 class="title">Contact</h5>
  </div>
</div>
