<div class="row text-center categories">
  <div class="col-3 pointer text-center" routerLink="/">
    <i class="col-xs-12 col-sm-12 fa fa-home fa-3x" ></i>
    <h6 class="col-12 title">Home</h6>
  </div>
  <div class="col-3 pointer text-center" routerLink="/technologies">
    <i class="col-xs-12 col-sm-12 fa fa-diamond fa-3x" ></i>
    <h6 class="col-12 title">Tech</h6>
  </div>
  <div class="col-3 pointer text-center" routerLink="/projects">
    <i class="col-xs-12 col-sm-12 fa fa-desktop fa-3x" ></i>
    <h6 class="col-12 title">Projects</h6>
  </div>
  <div class="col-3 pointer text-center" routerLink="/contact">
    <i class="col-xs-12 col-sm-12 fa fa-phone fa-3x" ></i>
    <h6 class="col-12 title">Contact</h6>
  </div>
</div>
