<div class="technologies animated  row">
  <div class="container">
    <div class="col-12 ">
      <h3>Technologies used:</h3>
      <br/>
      <span>- JAVA</span>
      <br/>
      <span>- TypeScript</span>
      <br/>
      <span>- JavaScript</span>
      <br/>
      <span>- Ruby</span>
      <br/>
      <span>- C/C++</span>
      <br/>
      <span>- C#</span>
      <br/>
      <span>- jQuery</span>
      <br/>
      <span>- JSP</span>
      <br/>
      <span>- HTML</span>
      <br/>
      <span>- CSS</span>
      <br/>
      <span>- Python (just played a little with it)</span>
      <br/>
      <span>- Scala (just played a little with it)</span>
      <br/>
      <span>- SQL</span>
      <br/>
      <span>- NoSQL</span>
      <br/>
      <span>- MySQL</span>
      <br/>
      <span>- MsSQL</span>
      <br/>
      <span>- PostgreSQL</span>
      <br/>
      <span>- Spring</span>
      <br/>
      <span>- Spring Boot</span>
      <br/>
      <span>- Hybris</span>
      <br/>
      <span>- AngularJS  (not a big fan)</span>
      <br/>
      <span>- Angular 2.x-6.x</span>
      <br/>
      <span>- Ember.js</span>
      <br/>
      <span>- ReactJS (just played a little with it)</span>
      <br/>
      <span>- Vue.js (just played a little with it)</span>
      <br/>
      <span>- NativeScript</span>
      <br/>
      <span>- Ionic Framework</span>
      <br/>
      <span>- Node.js</span>
      <br/>
      <span>- PhantomJS</span>
      <br/>
      <span>- Capybara</span>
      <br/>
      <span>- Webpack</span>
      <br/>
      <span>- Docker</span>
      <br/>
      <span>- Docker-compose</span>
      <br/>
      <span>- Bitbucket pipelines</span>
      <br/>
      <span>- Nginx</span>
      <br/>
      <span>- Tomcat </span>
      <br/>
      <span>- Solr (used and configured)	</span>
      <br/>
      <span>- ElasticSearch  (used and configured)</span>
      <br/>
      <span>- Jenkins</span>
      <br/>
      <span>- ShellScript</span>
      <br/>
      <span>- Bash/Batch</span>
      <br/>
      <span>- Groovy</span>
      <br/>
      <span>- Maven</span>
      <br/>
      <span>- Ant</span>
      <br/>
      <span>- NPM</span>
    </div>
  </div>
</div>
